<div class="modal-dialog modal-dialog-centered rounded-3">
  <div class="modal fade" id="sign_up" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sign up </h5>
          <button style="font-weight: 500;font-size: x-large;" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></i></button>
        </div>
        <div class="modal-body">
        </div>

        <div class=" modal-footer ">
        </div>
      </div>
    </div>
  </div>
</div>