{% load django_bootstrap5 %}{% load static %}{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prime InstaClone</title>
  {% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">{% endblock %}
</head>

<body>
  <div class="container-fluid">
    <div class="container">
      <button class="btn btn-outline-primary rounded-pill sign_in" data-bs-toggle="modal" data-bs-target="#sign_in">Sign In </button>{% include 'authens/signin.html' %}
    </div>
    <div class=" container-fluid welcome_title d-md-none d-lg-block " id="para_lg ">
      <img style="width: 20%; " src="{% static 'images/logo.png' %} " alt=" ">
      <h1>Welcome to Prime InstaClone</h1>
      <p>Your passion is capturing great moments. So is ours.share captured moments with your friends</p>
      <button class="btn btn-outline-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#sign_up">Create Account Now</button>
      <div class="modal-dialog modal-dialog-centered rounded-3">
        <div class="modal fade" id="sign_up" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign up </h5>
                <button style="font-weight: 500;font-size: x-large;" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></i></button>
              </div>
              <div class="modal-body">

                <form action="" method="post" novalidate>
                  {% csrf_token%} {{ form|crispy }}
                  <button type="submit" class="btn btn-primary btn-sm"> Sign up</button>
                </form>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class=" container-fluid welcome_title .d-none " id="para_sm ">
      <img style="width: 10%; " src="{% static 'images/logo.png' %} " alt=" ">
      <h1>Welcome to Prime InstaClone</h1>
      <p>Your passion is capturing great moments. So is ours.share captured moments with your friends</p>
      <button class="btn btn-outline-primary rounded-pill ">Create Account Now</button>
    </div> -->
  </div>
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
  {% bootstrap_javascript %} {% endblock %}
</body>

</html>